extends layout

block content
  .text-center
    button.schedule Schedule Delivery <i class="ion-arrow-right-a"></i>

  .packages
    each item in packages
      div(class="package-item", data-datum='#{JSON.stringify(item)}')

        h2 #{item.description}

        if item.courier_name
          h4 #{item.courier_name} from #{item.sender_description}

        .package-time
          | #{moment(item.delivery_schedule.deliver_on).calendar(Date.now())} between
          | #{item.delivery_schedule.deliver_time_begin % 12}-#{item.delivery_schedule.deliver_time_end % 12} pm

        div(class="package-state #{item.state}") #{item.state}

        .package-log(onclick="logItem")
          | Log to Console
          i.ion-arrow-right-b

block js
  script(src="/js/packages.js")
