extends layout

block content
  form.text-center(method="post")
    select(name="date")
      each date in dates
        option(value="#{date}") #{date}

    select(name="time")
      each time in times
        option(value="#{time+12}") #{time}-#{time+2} pm

    br
    br

    .text-center
      button.schedule Confirm <i class="ion-arrow-right-a"></i>
